html {
  height:100%;
}
body {
  height:100%;
}
.mymap{
    height:100%;
}
.mapbox-logo{
    display: none !important;
}
.leaflet-control-attribution{
    display: none !important;
}
.leaflet-control-zoom{
    display: none !important;
  
}