html {
  height:100%;
}
body {
  height:100%;
  margin: 0;
}
.mymap{
    height:100%;
}
.mapbox-logo{
    display: none !important;
}
.leaflet-control-attribution{
    display: none !important;
}
.leaflet-control-zoom{
    display: none !important;
}
.leaflet-container { 
    background: rgb(41, 41, 41) !important;
}
img {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05) !important;
}